.input-field {
  padding: 10px 1vw;
  margin: auto;
  margin-bottom: 20px;
}
.input-field label {
  width: 170px;
  padding: 1vh 0.5vw;
  display: inline-block;
  font-weight: bold;
  color: #616365;
}
.input-field input {
  height: 50px;
  width: 60%;
  font-size: 1rem;
  padding-left: 1vw;
  background: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

#custom-select {
  width: 63%;
  height: 47px;
  font-size: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  background: #fafafa;
  background-color: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

.input-field input:focus,
#custom-select:focus {
  outline: none !important;
  border: 2px solid#008ad9;
}
input[type="file"] {
  color: #008ad9;
}
.file-container {
  display: flex;
}
.upload-box {
  background-color: #f4fbff;
  border: 1px solid rgba(0, 138, 217, 0.5);
  border-radius: 10px;
  padding: 15px;
}
.image-upload-box {
  position: relative;
  border: 2px dashed #008ad9;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}
.image-upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.text-about-upload {
  text-align: center;
  padding: 10px;
}
#option-placeholder {
  color: #e5e5e5 !important;
}
@media only screen and (max-width: 600px) {
  .input-field input,
  .custom-select {
    width: 100%;
  }
}
