.check-icon-box {
  padding: 8px;
  margin: auto;
  color: aliceblue;
  border-radius: 50%;
  width: min-content;
  height: 6rem;
  background-color: #0faf51;
}

.final-btn-box .btn-box {
  width: max-content;
  margin: auto;
}

.btn-box Button {
  padding: 3vh 7vw;
  font-size: 1.05rem;
  font-weight: bold;
  margin: 10px 0;
}
#confirm-btn {
  background-color: #0faf51;
}
