.css-qivjh0-MuiStepLabel-label.Mui-active {
  color: #67c8ff !important;
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-completed {
  color: #008ad9 !important;
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}
.css-qivjh0-MuiStepLabel-label {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}
